* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bodoni Moda', serif;
  font-family: 'Bungee Spice', cursive;
  font-family: 'Rubik', sans-serif;
  background-image: url('./assets/cielo.jpg');
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.principal {
  display: block
}


#container {
  /* background-color: aquamarine; */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  /* glass */
background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
border: 1px solid rgba(255, 255, 255, 0.3);
}

#container > .block {
  padding: 20px;
}

.block {
  color: #fff;
  margin: 1px solid red
}

#location {
  font-weight: bold;
  font-size: 22px;
}

.information-container {
  padding: 10px;
}

#temperature {
  margin-top: 30px;
  font-size: 90px;
}